@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Teko:wght@500&family=Vina+Sans&display=swap');
/*
- font-family: 'Roboto Mono', monospace;
- font-family: 'Teko', sans-serif;
- font-family: 'Vina Sans', cursive;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: #dde1e7;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Vina Sans', cursive;
    width: 100%;
    height: 12.5vh;
    font-size: 1.25rem;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 1%;
}

.enlaces {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    border-radius: 1rem;
    margin: 0.5% 1%;
    background: #ebeef1;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
}

.enlaces a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    cursor: pointer;
    background: #ebeef1;
    box-shadow: inset -3px -3px 5px rgba(255, 255, 255, 0.70), 
    inset 3px 3px 15px rgba(10, 99, 169, 0.16);
    margin: 1%;
    border-radius: 1rem;
}

.enlaces a:hover {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    cursor: pointer;
    margin: 1%; 
    background: #ebeef1;
    box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.70), 3px 3px 5px rgba(10, 99, 169, 0.16);
}

.logo {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    border-radius: 1rem;
    margin: 0.5% 1%;
    background: #ebeef1;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
}

.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.frase {
    height: 78.7vh;
    width: 55%;
    flex-shrink: 1;
    border-radius: 1rem;
    margin: 1.5% 1%;
    background: #ebeef1;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
    font-family: 'Vina Sans', cursive;
    font-size: 5.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frase p span {
    -webkit-text-stroke: 1px black;
    color: white;
}

.frase p span:hover {
    color: black;
}

.imagen {
    height: 78.7vh;
    width: 35%;
    flex-shrink: 1;
    border-radius: 1rem;
    margin: 1.5% 1%;
    background: #ebeef1;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen img {
    width: 100%;
    height: 55%;
    margin-bottom: 10%;
}

.sobre-mi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    width: 100%;
    font-family: 'Vina Sans', cursive;

}

.title-sobremi {
    width: 35%;
    height: 50vh;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
    border-radius: 1rem;
}

.sobre-mi .title-sobremi h1 {
    font-size: 5em;
    -webkit-text-stroke: 0.0001em black;
    color: white;
}
 
.carrusel {
    width: 55%;
    height: 50vh;
    flex-shrink: 1;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
    border-radius: 1rem;
    font-size: 1.5rem;
}

.swiper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide {
    width: 80%;
    height: 80%;
    padding: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-sobremi {
    height: 70%;
    width: 20%;
    margin: 0.5%;
}

.ajuste-imagenes {
    height: 5em;
    width: 5em;
    margin: 1rem;
}

.swiper-slide p {
    height: 100%;
    width: 65%;
    margin: 0.5%;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
}






